@model IEnumerable<Unicorn.Models.NCC>

@{
    ViewData["Title"] = "Danh sách Nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Nhà cung cấp</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Nhà cung cấp</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div id="NCC"></div>



<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Nhà cung cấp</h3>
            <div class="card-tools">
                <a asp-action="Create" class="btn btn-success fa fa-plus">Thêm mới</a>
            </div>
        </div>
        <br />
        <div class="card card-solid">
            <div class="card-body">
                <table class="table table-hover table-striped dataTable dtr-inline">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã Nhà cung cấp</th>
                            <th>Tên Nhà cung cấp</th>
                            <th>Địa chỉ</th>
                            <th>Ghi chú</th>
                            <th>Khách hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr id="trow_@item.ID_NCC">
                                    <td>@i</td>
                                    <td>@item.ID_NCC</td>
                                    <td>@item.Name</td>
                                    <td>@item.Dia_chi</td>
                                    <td>@item.Ghi_chu</td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 200px;">
                                        <input type="checkbox" disabled checked="@item.Is_KH">
                                     </td>
                                    <td>
                                        <a href="#" data-id="@item.Is_KH" class="btn btn-sm btn-danger btnDelete">Xoá</a>
                                        <a asp-action="Edit" asp-route-id="@item.Is_KH" class="btn btn-sm btn-primary">Sửa</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<!-- Content Header (Page header) -->
@*Scrip*@

<script>
    //Delete
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn có muốn xóa Nhà cung cấp này khỏi danh sách không??');
            if (conf === true) {
                $.ajax({
                    url: '/NCC/delete',
                    type: 'Post',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                })
            }
        })
    })
</script>


