@model IEnumerable<Unicorn.Models.NVL>

@{
    ViewData["Title"] = "Danh sách Nguyên vật liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/clients/plugins/datatables-buttons/js/buttons.html5.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Nguyên vật liệu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Nguyên vật liệu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div id="NVL"></div>

<!-- Main content -->
@*<section class="content">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách Nguyên vật liệu</h3>
        <div class="card-tools">
            <a asp-action="Create" class="btn btn-success fa fa-plus">Thêm mới</a>
        </div>
    </div>
    <br />
</section>*@
<!-- /.content -->
<!-- Content Header (Page header) -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Nguyên vật liệu</h3>
            <div class="card-tools">
                <a asp-action="Create" class="btn btn-success fa fa-plus">Thêm mới</a>
            </div>
        </div>
        <div class="card card-solid">
            <div class="card-body">
                <div id="tblNVL_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblNVL" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="tblNVL_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Hình ảnh</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Mã Nguyên vật liệu</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Tên Nguyên vật liệu</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Loại Nguyên vật liệu</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Đơn vị tính</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblNVL" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Kích thước</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr id="trow_@item.ID_NVL">
                                                <td>@i</td>
                                                <td><img src="@item.Image" /></td>
                                                <td>@item.ID_NVL</td>
                                                <td>@item.Name</td>
                                                <td>@item.ID_NVL</td>
                                                <td>@item.ID_DVT</td>
                                                <td>@item.Size</td>
                                                <td>
                                                    <a href="#" data-id="@item.ID_NVL" class="btn btn-sm btn-danger btnDelete">Xoá</a>
                                                    <a asp-action="Details" asp-route-id="@item.ID_NVL" class="btn btn-sm btn-primary">Xem</a>
                                                    <a asp-action="Edit" asp-route-id="@item.ID_NVL" class="btn btn-sm btn-primary">Sửa</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*Scrip*@
<script>
    //Delete
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn có muốn xóa Nguyên vật liệu này khỏi danh sách không??');
            if (conf === true) {
                $.ajax({
                    url: '/NVL/delete',
                    type: 'Post',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                })
            }
        })
    })
    $(function () {
        $("#tblNVL").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblNVL_wrapper .col-md-6:eq(0)');
    });
</script>


