@model IEnumerable<Unicorn.Models.NVL>

@{
    ViewData["Title"] = "Danh sách Nguyên vật liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Nguyên vật liệu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Nguyên vật liệu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div id="NVL"></div>

<!-- Main content -->
<!-- /.content -->
<!-- Content Header (Page header) -->
<section class="content">
    <div class="container-fluid">
        <div class="card-header">
            <h3 class="card-title">Danh sách nguyên vật liệu</h3>
            <div class="card-tools">
                <a asp-action="Create" class="btn btn-success fa fa-plus">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table id="tblNVL" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="tblNVL_info" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Mã vật liệu</th>
                        <th>Tên vật liệu</th>
                        <th>Loại vật liệu</th>
                        <th>Đơn vị tính</th>
                        <th>Kích thước</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.ID_NVL">
                                <td>@i</td>
                                <td>@item.ID_NVL</td>
                                <td>@item.Name</td>
                                <td>@item.ID_Loai</td>
                                <td>@item.ID_DVT</td>
                                <td>@item.Size</td>
                                <td>
                                    <a href="#" data-id="@item.ID_NVL" class="btn btn-sm btn-danger btnDelete">Xoá</a>
                                    <a asp-action="Edit" asp-route-id="@item.ID_NVL" class="btn btn-sm btn-primary">Sửa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


@*Scrip*@


<script>
    //Delete
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn có muốn xóa Nguyên vật liệu này khỏi danh sách không??');
            if (conf === true) {
                $.ajax({
                    url: '/NVL/delete',
                    type: 'Post',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                })
            }
        });
        $("tbody").load(function(){
            $('#tblNVL').DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#tblNVL_wrapper .col-md-6:eq(0)');
        })
</script>


